/* Colors definition */
:root {
  --bluey-h: 204deg;
  --bluey-s: 100%;
  --bluey-l: 50%;

  --bluck: #0f1020;
  --bluey: hsl(var(--bluey-h), var(--bluey-s), var(--bluey-l));
  --dark-bluey: hsl(var(--bluey-h), var(--bluey-s), calc(var(--bluey-l) - 5%));
  --kream: #f9e9ff;
}