@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Lexend, Arial, Helvetica, sans-serif;
}

#canvas {
    position: absolute;

    z-index: 1;
}

#centered {
    color: #0f1020;
}